# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea/
*.iml

# Eclipse
.settings/

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Node (frontend assets)
node_modules/
dist/

# Docker
.docker/
